@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    &,
    &.light-mode {
      --background-app-rgb: 255, 255, 255;
      --color-primary-900: 74, 109, 255;
      --color-primary-800: 92, 124, 255;
      --color-primary-700: 110, 138, 255;
      --color-primary-600: 128, 153, 255;
      --color-primary-500: 146, 167, 255;
      --color-primary-400: 164, 182, 255;
      --color-primary-300: 183, 197, 255;
      --color-primary-200: 201, 211, 255;
      --color-primary-100: 219, 226, 255;
      --color-primary-50: 228, 233, 255;
      --color-secondary-900: 17, 24, 39;
      --color-secondary-800: 31, 41, 55;
      --color-secondary-700: 55, 65, 81;
      --color-secondary-600: 75, 85, 99;
      --color-secondary-500: 107, 114, 128;
      --color-secondary-400: 156, 163, 175;
      --color-secondary-300: 209, 213, 219;
      --color-secondary-200: 229, 231, 235;
      --color-secondary-100: 243, 244, 246;
      --color-secondary-50: 249, 250, 251;
      --color-secondary-0: 255, 255, 255;
      --color-success: 0, 192, 115;
      --color-warning: 255, 153, 0;
      --color-error: 255, 71, 87;
      --color-red-500: 239, 68, 68;
      --color-red-300: 252, 165, 165;
      --color-pink-50: 253, 242, 248;
      --color-pink-100: 252, 231, 243;
      --color-pink-200: 251, 207, 232;
      --color-pink-300: 249, 168, 212;
      --color-pink-400: 244, 114, 182;
      --color-pink-500: 236, 72, 153;
      --color-pink-600: 219, 39, 119;
      --color-pink-700: 190, 24, 93;
      --color-pink-800: 157, 23, 77;
      --color-pink-900: 131, 24, 67;
      --color-pink-950: 80, 7, 36;
      
      --color-purple-50: 250, 245, 255;
      --color-purple-100: 243, 232, 255;
      --color-purple-200: 233, 213, 255;
      --color-purple-300: 216, 180, 254;
      --color-purple-400: 192, 132, 252;
      --color-purple-500: 168, 85, 247;
      --color-purple-600: 147, 51, 234;
      --color-purple-700: 126, 34, 206;
      --color-purple-800: 107, 33, 168;
      --color-purple-900: 88, 28, 135;
      --color-purple-950: 59, 7, 100;
      --color-bg-header: 255, 255, 255;
    }
    &.dark-mode {
      --color-secondary-900: 249, 250, 251;
      --color-secondary-800: 243, 244, 246;
      --color-secondary-700: 229, 231, 235;
      --color-secondary-600: 209, 213, 219;
      --color-secondary-500: 156, 163, 175;
      --color-secondary-400: 107, 114, 128;
      --color-secondary-300: 75, 85, 99;
      --color-secondary-200: 55, 65, 81;
      --color-secondary-100: 31, 41, 55;
      --color-secondary-50: 17, 24, 39;
      --color-secondary-0: 24, 33, 47;
      --backdrop-color: 0, 0, 0;
      --color-pink-50: 31,26,56; /* 80, 7, 36; */
      --color-pink-100: 60, 32, 100; /* 131, 24, 67; */
      --color-pink-200: 45, 30, 100; /* 157, 23, 77; */
      --color-pink-300: 190, 24, 93;
      --color-pink-400: 219, 39, 119;
      --color-pink-500: 236, 72, 153;
      --color-pink-600: 244, 114, 182;
      --color-pink-700: 249, 168, 212;
      --color-pink-800: 251, 207, 232;
      --color-pink-900: 252, 231, 243;
      --color-pink-950: 253, 242, 248;
      --color-purple-50: 59, 7, 100;
      --color-purple-100: 88, 28, 135;
      --color-purple-200: 107, 33, 168;
      --color-purple-300: 126, 34, 206;
      --color-purple-400: 147, 51, 234;
      --color-purple-500: 168, 85, 247;
      --color-purple-600: 192, 132, 252;
      --color-purple-700: 216, 180, 254; /* 221,153,187; */
      --color-purple-800: 233, 213, 255;
      --color-purple-900: 243, 232, 255;
      --color-purple-950: 48, 7, 100; /* 250, 245, 255; */
      --color-bg-header: 0, 0, 0;
    }
  }
}

.rti--container {
  background-color: rgb(var(--color-secondary-100));
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  border: none;
}
.rti--container .rti--input {
  background-color: rgb(var(--color-secondary-200));
  color: rgb(var(--color-secondary-800));
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.rti--tag {
  background-color: rgb(var(--color-secondary-500));
  color: rgb(var(--color-secondary-100));
}

@layer components {
  .textField__input {
    @apply w-full py-3 px-4 rounded-xl text-secondary-900 border border-secondary-100 bg-secondary-100 hover:border-purple-500 focus:border-purple-500 focus:bg-secondary-0 transition-all duration-300 ease-out focus:shadow-lg focus:shadow-purple-200 dark:focus:shadow-secondary-200;
  }
  .btn {
    @apply px-3 py-1 font-bold rounded-xl transition-all duration-300;
  }
  .btn--primary {
    @apply px-4 py-3 bg-purple-600 text-white hover:bg-purple-700 shadow-lg shadow-purple-300 dark:shadow-secondary-200 dark:bg-purple-100 dark:hover:bg-purple-50;
  }
  .btn--blue {
    @apply px-4 py-3 bg-primary-900 text-white hover:bg-primary-800 shadow-lg shadow-primary-300 dark:shadow-secondary-200;
  }
  .btn--secondary {
    @apply bg-secondary-600 text-secondary-100 hover:bg-secondary-700 shadow-sm shadow-secondary-300 dark:shadow-secondary-400 dark:bg-secondary-300 dark:hover:bg-secondary-200;
  }
  .btn--outline {
    @apply border border-secondary-700 text-secondary-700;
  }
  .btn--danger {
    @apply px-4 py-3 border border-rose-700 text-rose-700;
  }
  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }
  .badge--primary {
    @apply bg-primary-900 text-white;
  }
  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600;
  }
  .badge--success {
    @apply bg-green-500 text-white;
  }
  .badge--danger {
    @apply bg-red-500 text-white;
  }
  .hi-icon {
    @apply w-5 h-5;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table .title-row {
  background-color: rgb(var(--color-secondary-100));
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-200));
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-600));
  font-size: 0.9rem;
}

table td {
  font-size: 0.85rem;
  padding: 1rem 1rem;
  color: rgb(var(--color-secondary-600));
}

/*  react tag input */

/* Calendar classes */
.fc-button {
  background: rgb(var(--color-primary-900)) !important;
  border-color: rgb(var(--color-primary-200)) !important;
}
.fc-button-active {
  background: rgb(var(--color-primary-500)) !important;
  border: 1px inset rgb(var(--color-primary-900)) !important;
}


.before-dots::before {
  content: " . . . . . . \A  . . . . . . ";
  white-space: pre;
  font-size: 2rem;
  color: rgb(var(--color-secondary-700));
  position: absolute;
  top: 1vw;
  right: 2vw;
  z-index: 2;
  line-height: 1rem;
}

.after-dots::after {
  content: " . . . . . . \A  . . . . . . ";
  white-space: pre;
  font-size: 2rem;
  color: rgb(var(--color-secondary-700));
  position: absolute;
  bottom: 1vw;
  left: 0;
  z-index: 2;
  line-height: 1rem;
} 

.w-101 {
  width: 28rem;
}

